.gallery {

    &__box {
        columns: 3;
        gap: 15px;
    }

    &__image {
        max-width: 100%;
        display: block;
        margin-bottom: 15px;
        border-radius: var(--border-radius);
        cursor: pointer;
    }
}

