.header {
    padding: 10px 0;

    &__navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }

    &__logo-link {
        display: flex;
        width: 339px;
        align-items: center;
        text-decoration: none;
    }

    &__svg {
        width: 50px;
        height: auto;
        margin-right: 10px;
    }

    &__g {
        fill: #000E2A;
    }

    &__logo-img {
        width: 65px;
        height: auto;
        margin-right: 10px;
    }

    &__logo-title {
        font-size: 26px;
        line-height: 1.2;
        font-weight: 400;
        color: #252526;
    }

    &__menu {
        display: flex;
        align-items: center;

        &-item {
            list-style: none;
            height: 100%;
            & + .header__menu-item {
                margin-left: 30px;
            }
        }

        &-link {
            display: block;
            text-decoration: none;
            color: #564f4f;
            font-size: 23px;
            transition: color .5s;

            &:hover {
                color: #3d74c7;
            }
        }

    }

    // ---------------------------------- media ----------------------------------//

    @media screen and (max-width: 992px) {
        .header__menu {
            display: none;
        }



        
    }

    @media screen and (max-width: 768px) {
        
        .header__logo-img {
            width: 60px;
        }
    }

    @media screen and (max-width: 576px) {

        .header__navigation {
            gap: 10px;
        }

        .header__logo-img {
            width: 50px;
        }

        .header__logo-link {
            width: 255px;
        }

        .header__svg {
            width: 35px;
            margin-right: 5px;
        }

        .header__logo-title {
            font-size: 20px;
        }

    }
}

