// ----------------------------- hamburger --------------------------------//

.header {
    &__hamburger {
        display: none;
        width: 38px;
        cursor: pointer;
        
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            // background-color: #252526;
            background-color: #3865aa;
        }
    
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 5px;
            margin-left: auto;
            background-color: #3865aa;
        }
    }
    
    &__hamburger-line {
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 5px;
        background-color: #3865aa;
        margin: 5px 0;
    }
}


// ----------------------------- hamburger --------------------------------//


@media screen and (max-width: 992px) {
    .header__hamburger {
        display: block;
    }
}